<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NLog.MailKit"/>
  </extensions>
  <variable name="linePrefix" value="${date:format=yyyy-MM-dd HH\:mm\:ss} ${pad:padding=5:inner=${uppercase:${level}}} ${callsite:IncludeSourcePath=false} - "/>
  <variable name="exceptionFormat" value="${onexception:${newline} EXCEPTION OCCURRED\:${exception:format=type,message,method,stacktrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"/>
  <variable name="appName" value="WorkerService"/>

  <targets>

    <target xsi:type="File"
            name="fileTarget"
            fileName="${basedir}/logs/${appName}_${shortdate}.log"
            layout="${linePrefix}${message}${exceptionFormat}" />

    <target xsi:type="Console"
            name="consoleTarget"
            layout="${linePrefix}${message}${exceptionFormat}" />

    <target xsi:type="Mail"
        name="ErrEmail"
        layout="${linePrefix}${message}${exceptionFormat}" 
        subject="${appName}: Exception Error"
        from="elcinaliyevgs@gmail.com"
        to="elcinaliyevgs@gmail.com"
        smtpUserName="elcinaliyevgs@gmail.com"
        enableSsl="true"
        secureSocketOption="SslOnConnect"
        smtpPassword=""
        smtpAuthentication="Basic"
        smtpServer="smtp.gmail.com"
        smtpPort="465"/>


  </targets>

  <rules>

    <logger name="*" minlevel="Info" writeTo="consoleTarget" />
    <logger name="*" minlevel="Error" writeTo="fileTarget" />
    <logger name="*" minlevel="Error" writeTo="ErrEmail" />
   

  </rules>
</nlog>